body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    margin: 0; /* Remove default margin */
    background: black;
    color: white;
    font-family: "Montserrat", sans-serif;
}

table {
    margin: auto; /* Center the table */
    width: 90%; /* Full width of the parent element */
    border-collapse: collapse;
    table-layout: fixed;
    overflow-y: auto; /* Adds a vertical scrollbar if needed */
}

td, th {
    border: 1px solid white; 
    padding: 10px; 
    word-wrap: break-word;
    width: 100%; /* Full width of the parent element */
}

h1 {
    color: #7bfbde;
    text-align: center;
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 90vh; /* Adjust as needed */
    overflow-y: auto; /* Adds a vertical scrollbar if needed */
}